<settings>
    <setting id="Location1" value="Steamboat Springs (US)" />
    <setting id="Location1id" value="2499383" />
    <setting id="Location2" value="Denver (US)" />
    <setting id="Location2id" value="2391279" />
    <setting id="Location3" value="Tampa (US)" />
    <setting id="Location3id" value="2503863" />
</settings>
